@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Prata&display=swap');



@tailwind base;
@tailwind components;
@tailwind utilities;



body {
  background: linear-gradient(180deg, #005f99, #57c4f0, #d6f0fc);
  background-repeat: no-repeat;
  background-attachment: fixed;
}



@keyframes rotatingBorder {
  0% {
    border-image-source: linear-gradient(90deg, #3b82f6, #60a5fa, #1e40af, #3b82f6);
  }
  25% {
    border-image-source: linear-gradient(180deg, #b7b6ff, #60a5fa, #1e40af, #3b82f6);
  }
  50% {
    border-image-source: linear-gradient(270deg, #3b82f6, #60a5fa, #1e40af, #3b82f6);
  }
  75% {
    border-image-source: linear-gradient(360deg, #3b82f6, #60a5fa, #1e40af, #3b82f6);
  }
  100% {
    border-image-source: linear-gradient(90deg, #3b82f6, #60a5fa, #1e40af, #3b82f6);
  }
}

.rotating-border {
  border-image-slice: 1;
  animation: rotatingBorder 5s infinite linear;


}




